.container {
  /* column-count: 5; */
  /* column-count: 3; */
  /* gives you as many cols of this width as possible 
  ie smaller screens get less cols than bigger ones */
  /* the container needs to be divisible by this amount though? */
  column-width: 200px;
  column-gap: 50px;
  column-rule: 4px dotted rgb(79, 185, 227);
}

h2 {
  column-span: all;
  background-color: rgb(79, 185, 227);
  color: white;
  padding: .5em;
}