/* The third box uses em units. These are relative to the font size. I've set a 
font size of 1em on the containing <div>, which has a class of .wrapper. Change 
this value to 1.5em and you will see that the font size of all the elements 
increases, but only the last item will get wider, as the width is relative to 
that font size.*/

.wrapper {
  font-size: 1em;
}

.px {
  width: 200px;
}

.vw {
  width: 10vw;
}

.em {
  width: 15em; /* this is relative to it's parent*/
}