:root {
  --row-bg-color: rgb(237, 237, 237);
}

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

table {
  table-layout: fixed;
  width: 80%;
  text-align: left;
  margin-left: 10%;
  border-collapse: collapse;
  font-weight: 300;
}

thead {
  border-top: 1.5px solid lightgrey;
}

tfoot {
  border-top: 1.5px solid lightgrey;
  border-bottom: 1.5px solid lightgrey;
}

tfoot th {
  text-align: right;
}

th {
  font-weight: 400;
}

th, td {
  padding: 5px;
  vertical-align: top;
} 

tbody tr:nth-child(2n-1) {
  background-color: var(--row-bg-color);
}

thead tr th:nth-child(2), th:nth-child(3)  {
  text-align: right;
}

tbody tr td:nth-child(2), td:nth-child(3) {
  text-align: right;
}

caption {
  padding-bottom: 5px;
}