* { box-sizing: border-box; }

body {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

.wrapper {
  padding-right: 2.08333333%;
}

.row {
  display: flex;
}

/* On .col we set the flex property's first value (flex-grow) 
to 1 so our items can grow, the second value (flex-shrink) to 
1 so the items can shrink, and the third value (flex-basis) to 
auto. As our element has a width set, auto will use that width 
as the flex-basis value. */

.col {
  /* margin-left: 2.08333333%;
  margin-bottom: 1em; */
  width: 6.25%;
  flex: 1 1 auto;
  background: rgb(255,150,150);
}

.col.span2 { width: calc((6.25%*2) + 2.08333333%); }
.col.span3 { width: calc((6.25%*3) + (2.08333333%*2)); }
.col.span4 { width: calc((6.25%*4) + (2.08333333%*3)); }
.col.span5 { width: calc((6.25%*5) + (2.08333333%*4)); }
.col.span6 { width: calc((6.25%*6) + (2.08333333%*5)); }
.col.span7 { width: calc((6.25%*7) + (2.08333333%*6)); }
.col.span8 { width: calc((6.25%*8) + (2.08333333%*7)); }
.col.span9 { width: calc((6.25%*9) + (2.08333333%*8)); }
.col.span10 { width: calc((6.25%*10) + (2.08333333%*9)); }
.col.span11 { width: calc((6.25%*11) + (2.08333333%*10)); }
.col.span12 { width: calc((6.25%*12) + (2.08333333%*11)); }
