/* Okay so this is how ems work, they inheret and are relative to their parents
rems are relative to the the root */

html {
  font-size: 16px;
}

.ems li {
  font-size: 1.4em;
}

.rems li {
  font-size: 1.3rem;
}