/* h1 + p {
  font-size: 200%;
}

p + p {
  color: green;
}

li em {
  color: grey;
}

body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
} */

.test {
  color: green
}

p {
  color: blue
}

p {
  color: red;
  padding: 10px 15px 15px 5px; /* Starts at top */
}